@tailwind base;
@tailwind components;
@tailwind utilities;

.trapezio {
  border-bottom: 70px solid #c1c1c1;
  border-left: 30px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 120px;
}
